.cac-single-post {
    img {
        max-height: 400px;
        width: 100%;
        object-fit: cover;
    }
    .cac-post-content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 1.5rem;

        h1, h2, h3, p, ul, ol {
            margin-left: 0 !important;
        }
    }
    .wp-block-post-date, .wp-block-post-author {
        font-weight: 700;
    }
}
